.LocationModalBox {
  width: 196px;
  height: auto;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.LocationModalImg {
  width: 196px;
  height: 89px;
  overflow: hidden;
}

.LocationModalImg img {
  width: 100%; /* 이미지를 박스 크기에 맞게 조정 */
  height: 100%; /* 이미지를 박스 크기에 맞게 조정 */
  object-fit: cover; /* 이미지를 잘라서 박스에 맞게 크기 조정 */
  border-radius: 10px 10px 0 0;
}

.LocationModalText {
  padding: 15px;
  height: auto;
  width: 196px;
  overflow: hidden; /* 추가 */
}

.LocationModalTitle {
  font-size: 16px;
  font-weight: 700;
}

.LocationModalAdress {
  font-size: 14px;
  font-weight: 300;
  padding-top: 7px;
  word-break: none;
  overflow-wrap: break-word;
  width: 100%; /* 추가 */
  display: inline-block; /* 추가 */
  white-space: normal; /* 텍스트 줄바꿈 허용 */
}

.LocationModalNumber {
  font-size: 14px;
  font-weight: 300;
  padding-top: 2px;
}

.currentLocationBox {
  background: #fdfdfd;
  color: black;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  width: 100px;
  border: 2px solid #238bfa;
}

.currentLocationText {
  text-align: center;
}

.currentLocationTitle {
  font-size: 14px;
  margin-bottom: 5px;
}

.currentLocationAdress {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
}
