.account_detailBox {
  margin: 0 18px 0 18px;
  position: relative;
}

.proFile {
  border: 1px solid #d2d2d2;
  height: 274px;
  width: 100%;
  position: relative; /* 부모 요소 기준 */
  top: 111px;
  border-radius: 5px;
  position: absolute;
  display: flex; /* flex 컨테이너로 변경 */
  flex-direction: column;
  align-items: center; /* 가운데 정렬 */
}

.proFileImgPosition {
  flex-direction: column; /* 수직 방향으로 아이템 배치 */
}

.proFileImg {
  height: 124px;
  width: 124px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proFileImg img {
  border-radius: 100%;
}

.proFileButtonBox {
  padding-top: 12px; /* 위쪽에 12px 여백 추가 */
  display: flex;
  justify-content: center;
  width: 100%;
}

.proFileButton {
  border: none;
  width: 65px;
  height: 37px;
  background-color: #1f5f99;
  border-radius: 10px;
  color: white;
}

.nickName {
  border: 1px solid #d2d2d2;
  width: 100%;
  height: 131px;
  position: absolute;
  top: 394px;
  border-radius: 5px;
  position: relative;
}

.account_detailBox_Name {
  font-weight: 700;
  font-size: 18px;
  color: #1f5f99;
  display: flex;

  align-content: start;
  width: 100%;
  padding: 25px 23px 20px 23px;
}

.myNickName {
  text-align: center;
}
.input {
  width: 188px;
  height: 26px;
  font-size: 22px;
  text-align: center;
  border: none;
}
.input:focus {
  outline: none;
}
.input.editable {
  text-decoration: underline;
}
