.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 240px;
}
.Icon_wrap {
  width: 88px;
}
.text {
  margin-top: 31.8px;
  margin-bottom: 76px;
  text-align: center;
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
}
.social_login {
  display: flex;
  gap: 42px;
}
.social_wrap {
  width: 72px;
}
