.Write {
  background-color: #1f5f99;
  padding: 111px 27px 23px 27px;
  height: 100vh; /* 화면 전체 높이 */
}

.Write_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%; /* 부모 요소 높이를 100%로 설정 */
}

.tag {
  display: flex;
  align-items: center;
}

.tag_sign {
  color: white;
  padding: 0 10px 0 5px;
}

.tag input {
  height: 38px;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
}

.text {
  flex-grow: 1; /* 남은 공간을 채움 */
  display: flex;
}

.text textarea {
  flex-grow: 1; /* 부모 높이를 채움 */
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px 0 0 12px;
  resize: none;
}

.tag input::placeholder,
.text textarea::placeholder {
  color: #d2d2d2;
  font-size: 16px;
}

.photo {
  display: flex;
  gap: 10px;
}

.photo_upload {
  flex-shrink: 0;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  background-color: #353535;
  position: relative;
}

.photo_upload img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo_uploaded {
  flex-grow: 1;
  height: 70px;
  border-radius: 5px;
  background-color: #7a99b6;
  object-fit: cover;
}
