.qrScannerContainer {
  margin: 0 auto; /* mx-auto */
  width: 100%; /* w-full */
  background: linear-gradient(180deg, #004484, #1f5f99);
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.qr-scanner-header {
  display: flex; /* flex */
  justify-content: space-between; /* justify-between */
  width: 100%; /* w-full */
}

.qr-scanner-icons {
  display: flex; /* flex */
  gap: 1rem; /* gap-4 */
}

.qrScannerTitle {
  font-weight: bold; /* font-bold */
  text-align: center; /* text-center */
  padding-top: 186px;
  padding-bottom: 36px;
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.titleColor {
  color: #ffc267;
}

.qrScreen {
  display: flex;
  justify-content: center;
}

.qrScannerVideoWrapper {
  position: relative; /* relative */
  width: 260px; /* w-full */
  height: 260px; /* h-[500px] */
  background-color: black;
}

.qrImg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.qrScannerVideo,
.qrScannerCanvas {
  position: absolute;
  top: 0; /* top-0 */
  left: 0; /* left-0 */
  width: 100%; /* w-full */
  height: 100%; /* h-full */
}
