.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard-Regular";
  font-style: normal;
}

/* 프로필 이미지 */
.prifile_img {
  margin-top: 111px;
  width: 124px;
  height: 124px;
  border-radius: 100%;
}
.prifile_img img {
  width: 124px;
  height: 124px;
  object-fit: cover;
  border-radius: 100%;
}
/* 비 로그인 타이틀 */
.account_title {
  font-weight: 600;
  font-size: 25px;
  color: #a3a3a3;
  margin-top: 21px;
  text-align: center;
}
/* 버튼 랩 */
.account_button_wrap {
  display: flex;
  flex-direction: column;
  margin-top: 83px;
}
.account_button_wrap.isLogin {
  margin-top: 52px;
}
