.tab {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.tabInnerWrap {
  position: relative;
}

.tabIconWrap {
  width: 100%;
  background: linear-gradient(0deg, #2a557d, #42688b);
  display: flex;
  justify-content: center;
  gap: 84px;
  padding: 13px 28px 13px 28px;
}

.tabIcon {
  display: flex;
  gap: 25px;
}
.tabIcon div {
  padding: 10px 10px;
  line-height: 0; /* line-height를 1로 설정하여 높이를 고정 */
}

.tabScreen {
  transform: translate(37%, 30%);
  width: 40px;
}

.tabScreenWrap {
  border: 5px solid #2a557d;
  position: absolute;
  height: 80px;
  width: 80px;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 100%;
  background-color: white;
}
