.couponBox {
  position: relative;
}

.couponSelect {
  position: absolute;
  top: 108px;
  display: flex;
  width: 100%;
}

.couponTab {
  display: inline-flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 49px;
  cursor: pointer;
  color: #d2d2d2;
  font-size: 18px;
  font-weight: 600;
}

.couponTab.active {
  border-bottom: 3px solid #1f5f99;
  color: #1f5f99;
}

.eventCouponBox {
  padding: 0 15px 0 15px;
}

.eventCoupon {
  width: 100%;
  top: 202px;
  padding: 20px;
  border: 1px solid #d2d2d2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 119px;
  border-radius: 5px;
}

.percent {
  font-size: 24px;
  font-weight: 700;
  color: #1f5f99;
}

.stamp {
  font-size: 14px;
  font-weight: 700;
  color: black;
  padding-top: 12px;
}

.maximum {
  font-size: 14px;
  font-weight: 400;
  color: #989898;
}

.eventButton {
  height: 37px;
  width: 69px;
  border-radius: 10px;
  color: white;
  background-color: #1f5f99;
  border: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 흐리게 */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 주석추가 */
.modalContent {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin: 0 25px 0 25px;
  height: 300px;
}

.modalHeader {
  align-items: center;
  font-size: 34px;
  font-weight: 700;
  color: #1f5f99;
}

.modalBody {
  font-size: 18px;
  font-weight: 700;
  color: black;
  padding-top: 16px;
}

.modalDetail {
  color: #989898;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
}

.modalButtonBox {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modalButton {
  width: 112px;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
}

#useButton {
  border: none;
  background-color: #1f5f99;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

#cancellButton {
  background-color: white;
  color: #1f5f99;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #1f5f99;
}
