.current_location_btn {
  position: fixed !important;
  bottom: 90px !important;
  right: 10px !important;
  z-index: 10 !important;
  padding: 7px 7px !important;
  background-color: #ffffff !important;
  border: 1px solid #ddd !important;
  border-radius: 111px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  cursor: pointer !important;
  font-weight: bold !important;
  color: #333 !important;
  line-height: 0;
}

.current_location_btn:hover {
  background-color: #f5f5f5 !important;
}

.myLocation {
  width: 28px;
  height: 28px;
}
