/* ===================== */
/* 책갈피 보러가기 버튼 */
/* ===================== */

.bookMark_Btn {
  width: 158px;
  height: 230px;
  border-radius: 10px;
  background-color: #ffc267;
  color: white;
}
.bookMark_text {
  padding: 0 20px;
}
.bookMark_title {
  font-size: 30px;
  font-weight: 700;
  padding: 30px 0;
  text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.2);
}
.bookMark_sub1 {
  font-size: 14px;
  padding-bottom: 20px;
}

.bookMark_sub2 {
  background-color: white;
  color: #ffc267;
  border-radius: 500px;
  width: 77px;
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

/**/

.firstSlide {
  margin-left: 30px; /* 첫 번째 슬라이드에만 왼쪽 여백 30px */
}
