@font-face {
  font-family: "HakgyoansimChilpanjiugaeTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimChilpanjiugaeTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.header_content {
  position: fixed;
  top: 42px;
  height: 57px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 20px;
}
.header_contents {
  position: fixed;
  top: 42px;
  height: 57px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 31px 0 12px;
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 20px;
}
button {
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  margin-right: 3px;
}
.white_font {
  color: white;
  font-family: "HakgyoansimChilpanjiugaeTTF-B";
  font-weight: 300;
  font-size: 30px;
}
