.header_content {
  position: fixed;
  top: 0px; /* 화면 상단에 고정 */
  height: 66px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 20px;
  background-color: white;
}

/* stampSection은 header_content 아래로 오도록 padding-top을 추가 */
.stampSection {
  padding-top: 66px; /* 헤더의 높이만큼 여백을 추가하여 겹침을 방지 */
}

.header_contents {
  position: fixed;
  top: 0px;
  height: 66px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 12px;
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 20px;
}

.submit {
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  padding-right: 16px;
}

.white_font {
  color: white;
  font-family: "HakgyoansimChilpanjiugaeTTF-B";
  font-weight: 300;
  font-size: 30px;
}
