.mainHeaderBox {
  height: 337px;
  width: 100%;
  background: linear-gradient(180deg, #004484, #1f5f99);
  border-radius: 0 0 30px 30px;
  padding: 30px;
  text-align: start;
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.mainImg {
  position: absolute;
  top: 141px;
  left: 46px;
  z-index: 1;
}

.mainHeaderText {
  font-size: 28px;
  font-weight: 400;
  line-height: 37px;
}

.mainStarColor {
  color: #ffc267;
}

.mainHeaderSubText {
  font-size: 18px;
  font-weight: 300;
  padding-top: 17px;
  padding-bottom: 7px;
}
